* {margin: 0; padding: 0;}


#wrapper {
    width: 90%;
    height: 90%;
    margin: auto;
    position: relative;
}


html {
    font-family: 'Silkscreen' , sans-serif;
    background: url('images/deepsealobster.jpg') left repeat-y, url('images/deepsealobster.jpg') right repeat-y;
    background-color: #ff0059;
    overflow-x: hidden;
}


header {
    width: 100%;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    position: relative;
    padding-left: 35%;
}

#container {
    width: 80%;
    margin: auto;
    position: relative;
}

nav {
    width: 90%;
    margin: auto;
    padding-left: 0%;
    padding-right: 30%;
    position: relative;
    overflow: hidden;
    top: 0;
    z-index: 1;
}


ul li {
    display: inline;
}


footer {
    width: 70%;
    margin: auto;
    padding-left: 49.2%;
    padding-right: 15%;
    padding-top: 17.6%;
    padding-bottom: 10%;
}


.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




h1 {
    font-size: 1em;
    color: #000000;
}


h2 {
    font-size: 1.5em; 
    color: #000000;
    text-decoration: overline;
}


ul {
   list-style-type: none;
}


a:link {
    color: rgb(3, 0, 167);
}


a:visited {
    color: rgb(3, 0, 167);
}


a:hover {
    color: #00ffdd;
}


img{
    width: 30%;
    overflow: auto;
    padding-left: 5%;
    padding-right: 12.5%;
    display: inline;
    position: relative;
    z-index: -1;
}


p {
  text-decoration: none;
  line-height: 100%;
  text-transform: uppercase;

}

#p1 {
    height: 200px;
    float: left;
    width: 45%;
  }
#p2 {
    height: 400px;
    float: right;
    width: 45%;
  }

.paras {
    padding-left: 40%;
    padding-top: 7%;
  }